
ion-card{border-block: 2px dotted; border-block-color:#2d2e2e}
ion-card-content{padding: 7px 0px 0px 0px;background-color: #f8e8ff;
 ion-col{    
    font-family: Verdana;
    font-size: 12px;
    color: #9906d8;
    //font-weight: bolder;
    padding: 0px;
    line-height: 27px;
}
}
ion-item-divider{
    background-color: #cf5fff;
    font-size: 13px;
    font-weight: bolder;
    color: #ffffff;
}
ion-toggle{padding-left: 65px;}
.margincol{margin: auto;}
ion-checkbox{
    float: left;
    margin: 2px 6px 6px 0;
    }
