
<ion-toolbar> 

  <ion-tabs>
   <ion-tab-bar>
      <ion-tab-button *ngIf="currentpage !== '/home'" (click)="NavMethod('home')">
        <ion-icon color="tertiary" name="home"></ion-icon>
        <ion-label color="tertiary">Home</ion-label>
      </ion-tab-button>

     <ion-tab-button *ngIf="currentpage !== '/active-packages'" (click)="NavMethod('actpck')">
       <ion-icon color="tertiary" name="logo-dropbox"></ion-icon>
       <ion-label color="tertiary">Active Packages</ion-label>
     </ion-tab-button>

     <ion-tab-button *ngIf="currentpage !== '/history'" color="tertiary" (click)="NavMethod('history')">
       <ion-icon color="tertiary" name="logo-buffer"></ion-icon>
       <ion-label color="tertiary">History</ion-label>
     </ion-tab-button>
 
     <ion-tab-button *ngIf="currentpage !== '/settings'" color="tertiary" (click)="NavMethod('settings')">
       <ion-icon color="tertiary" name="construct"></ion-icon>
       <ion-label color="tertiary">Settings</ion-label>
     </ion-tab-button>

    <ion-tab-button color="tertiary" (click)="loadPackages()">
      <ion-icon color="tertiary" ios="ios-repeat" md="md-repeat"></ion-icon>
      <ion-label color="tertiary">Re-Track All</ion-label>
    </ion-tab-button>
   </ion-tab-bar>
 </ion-tabs>
 </ion-toolbar>
