<ion-list>
  <ion-item (click)='archive()'>
    <ion-icon color="dark" name="archive"></ion-icon>Archive
  </ion-item>
  <ion-item (click)='MarkasDelievered()'>
    <ion-icon color="dark" name="checkmark-circle-outline"></ion-icon>Mark as Delivered
  </ion-item>
  <ion-item (click)='locate()'>
    <ion-icon color="dark" name="locate"></ion-icon>Track location
  </ion-item>
  <ion-item (click)='gotoSettings()'>
    <ion-icon color="dark" name="construct"></ion-icon>Settings
  </ion-item>
  <ion-item (click)='delete()'>
    <ion-icon color="dark" name="trash"></ion-icon>Trash
  </ion-item>
  <!-- <ion-item (click)='share()'>
    <ion-icon color="dark" name="share"></ion-icon>Share
  </ion-item> -->
</ion-list>