<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header style="background:url('../assets/slicing/side_menu_bg.png') center no-repeat !important;padding-left: 16px;padding-top: 50px;padding-bottom: 5px;text-align: center" (click)="openUrl()">
                    <img style="height: 100px;width: 70px;margin: 0px auto;" src="../assets/slicing/side_menu_truck2.png">
                    <h6 style="color:#fff;margin: 0px auto;">EasyTrack</h6>
                    <p style="color:#fff;margin: 0px auto;">www.shipmatrix.com</p>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon color="tertiary" slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>