ion-searchbar{border-radius: 30px !important;}
ion-list{padding-top: 2px !important;}
ion-item-divider{background:#f2e4ff !important;height: 35px;padding-top: 3px !important;padding-bottom: 3px !important;padding-left: 4px !important;padding-right: 3px !important;}
ion-segment{background: #f2e4ff;}
ion-segment-button {
    height: 30px !important;

	ion-badge {
		position: absolute;
		top: -0.2rem;
		right: -0.2rem;
		opacity: 0.9;
	}
}
a{color: #9906d8 !important;}
ion-select{    
	color: #9906d8;
    font-weight: bolder;font-size: 13px;}
ion-card{border-block: 2px dotted; border-block-color:#2d2e2e}
ion-card-content{padding: 0px 0px 0px 0px;background: #ffe4e4 !important;
 ion-col{font-family: Verdana; font-size: 12px; color: #8c0606;padding: 2px}
}
ion-datetime{display: none !important;}