<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="clearTrack()">
                <ion-icon name="refresh"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>EasyTrack</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form *ngIf="track_Form" [formGroup]="track_Form" (submit)="fillCarrierCode(track_Form.value)">

            <ion-button (click)="scanPGCode()" class="submit-btn" expand="block" style="height:50px ; " color="tertiary">
                <ion-icon  name="barcode"></ion-icon>  Scan Barcode
            </ion-button>
        <ion-item>
            <!-- <ion-label>Tracking#</ion-label> -->
            <ion-input type="text" placeholder="Enter Tracking #" (input)="onSearchChange($event.target.value)" formControlName="TrackingNo" required></ion-input>
          
            <!-- <ion-buttons color="light" clear slot="end"><ion-button  color="light"  > <ion-icon (click)="scanCode()" color="tertiary" name="barcode"></ion-icon></ion-button></ion-buttons> -->
        </ion-item>

        <ion-button class="submit-btn" color="tertiary" type="submit" style="height: 40px;" expand="block" [disabled]="!track_Form.valid">Track</ion-button>
        <ion-select [hidden]="isCarrier" #carrierList okText="Okay" (ionChange)="doTrack(track_Form.value)" cancelText="Dismiss">
           <ion-select-option value="U">UPS</ion-select-option>
      <ion-select-option value="S">USPS</ion-select-option>
      <ion-select-option value="F">FedEx </ion-select-option>
      <ion-select-option value="D">DHL</ion-select-option>
      <ion-select-option value="P">Purolator</ion-select-option>
      <ion-select-option value="O">OnTrac</ion-select-option>
      <ion-select-option value="C">Canpar</ion-select-option>
      <ion-select-option value="L">LSO</ion-select-option>
        </ion-select>
    </form>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img width="55px" height="61px" src="../../../assets/logos/UPS-Logo.png">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img width="105px" height="28px" src="../../../assets/logos/FedEx-Logo.png">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img width="65px" height="50px" src="../../../assets/logos/USPS-Logo.png">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img width="100px" height="17px" src="../../../assets/logos/Purolator-Logo.png">
        </ion-col>
        <ion-col>
          <img width="63px" height="29px" src="../../../assets/logos/DHL-Logo.png">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img width="99px" height="25px" src="../../../assets/logos/Canpar-Logo.png">
        </ion-col>
        <ion-col>
          <img width="71px" height="35px" src="../../../assets/logos/Ontrac-Logo.png">
        </ion-col>
        <ion-col>
          <img width="90px" height="31px" src="../../../assets/logos/LSO-Logo.png">
        </ion-col>
      </ion-row>
      </ion-grid>
    <app-help-fab></app-help-fab>
</ion-content>