<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="clearTrack()">
                <ion-icon name="refresh"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>EasyTrack</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form *ngIf="track_Form" [formGroup]="track_Form" (submit)="fillCarrierCode(track_Form.value)">

            <ion-button (click)="scanPGCode()" style="width: 100%;" color="tertiary">
                <ion-icon  name="barcode"></ion-icon>  Scan Barcode
            </ion-button>
        <ion-item>
            <!-- <ion-label>Tracking#</ion-label> -->
            <ion-input type="text" placeholder="Enter Tracking #" (input)="onSearchChange($event.target.value)" formControlName="TrackingNo" required></ion-input>
          
            <!-- <ion-buttons color="light" clear slot="end"><ion-button  color="light"  > <ion-icon (click)="scanCode()" color="tertiary" name="barcode"></ion-icon></ion-button></ion-buttons> -->
        </ion-item>

        <ion-button class="submit-btn" color="tertiary" type="submit" expand="block" [disabled]="!track_Form.valid">Track</ion-button>
        <ion-select [hidden]="isCarrier" #carrierList okText="Okay" (ionChange)="doTrack(track_Form.value)" cancelText="Dismiss">
            <ion-select-option value="U">UPS</ion-select-option>
            <ion-select-option value="S">USPS</ion-select-option>
            <ion-select-option value="D">DHL</ion-select-option>
            <ion-select-option value="M">DHLGM</ion-select-option>
            <ion-select-option value="F">FedEx </ion-select-option>
            <ion-select-option value="P">Purolator</ion-select-option>
            <ion-select-option value="O">OnTrac</ion-select-option>
        </ion-select>
    </form>
    <ion-grid>
        <ion-row>
          <ion-col>
            <img src="../../../assets/logos/UPS_HomeLogo.png">
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <img src="../../../assets/logos/FedEx_HomeLogo.png">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <img src="../../../assets/logos/USPS_HomeLogo.png">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <img src="../../../assets/logos/Purolator_HomeLogo.png">
            </ion-col>
            <ion-col>
                <img src="../../../assets/logos/DHL_HomeLogo.png">
              </ion-col>
          </ion-row>
        <ion-row>
          <ion-col>
            <img src="../../../assets/logos/Canpar_HomeLogo.png">
          </ion-col>
          <ion-col>
            <img src="../../../assets/logos/OnTrac_HomeLogo.png">
          </ion-col>
          <ion-col>
            <img src="../../../assets/logos/LSO_HomeLogo.png">
          </ion-col>
        </ion-row>
      </ion-grid>
    <app-help-fab></app-help-fab>
</ion-content>