button.action-facebook{
    background-color: #3B5998 !important;
    color: white !important;
}

button.action-twitter{
    background-color: #1DA1F2 !important;
    color: white!important;
}

button.action-instagram{
    color: white!important;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%) !important;
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%) !important;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ) !important;
}

button.action-whatsup{
    background-color: #128C7E !important;
    color: white!important;
}

button.action-regular{
    background-color: darkmagenta !important;
    color: white!important;
}

.action-sheet-group{
    padding: 0 !important;
}