<ion-toolbar >
  <ion-slides>
    <ion-slide><a href="https://www.amazon.com/"><img src="../../../assets/slicing/linkamazon.png"></a></ion-slide>
    <ion-slide><a href="https://in.ebay.com/"><img src="../../../assets/slicing/linkebay.png"></a></ion-slide>
    <ion-slide><a href="https://www.amazon.com/"><img src="../../../assets/slicing/linkemail.png"></a></ion-slide>
    <ion-slide><a href="https://www.amazon.com/"><img src="../../../assets/slicing/linketwebsite.png"></a></ion-slide>
    <ion-slide><a href="https://www.amazon.com/"><img src="../../../assets/slicing/linkfacebook.png"></a></ion-slide>
    <ion-slide><a href="https://www.amazon.com/"><img src="../../../assets/slicing/linkfedex.png"></a></ion-slide>
    <ion-slide><a href="https://www.amazon.com/"><img src="../../../assets/slicing/linkgoogleplus.png"></a></ion-slide>
    <ion-slide><a href="https://www.amazon.com/"><img src="../../../assets/slicing/linkpinterest.png"></a></ion-slide>
    <ion-slide><a href="https://www.amazon.com/"><img src="../../../assets/slicing/linkplaystore.png"></a></ion-slide>
    <ion-slide><a href="https://www.amazon.com/"><img src="../../../assets/slicing/linkqrcode.png"></a></ion-slide>
    <ion-slide><a href="https://www.amazon.com/"><img src="../../../assets/slicing/linkstumbleupon.png"></a></ion-slide>
    <ion-slide><a href="https://www.amazon.com/"><img src="../../../assets/slicing/linktumblr.png"></a></ion-slide>
    <ion-slide><a href="https://www.amazon.com/"><img src="../../../assets/slicing/linktwitterbird.png"></a></ion-slide>
    <ion-slide><a href="https://www.amazon.com/"><img src="../../../assets/slicing/linkups.png"></a></ion-slide>
    <ion-slide><a href="https://www.amazon.com/"><img src="../../../assets/slicing/linkusps.png"></a></ion-slide>
    <ion-slide><a href="https://www.amazon.com/"><img src="../../../assets/slicing/linkyoutube.png"></a></ion-slide>
 </ion-slides>
</ion-toolbar>
